P {
  color: blue;
}
body {
    background-image: url("http://rs1089.pbsrc.com/albums/i349/wewextreme/Pokemon%20Stuff/cccccccccccccchhhhhhh.gif~c200");
  }
  body {
      background-color: red;
    }
