P {
  color: green;
}
body {
    background-image: url("http://rs162.pbsrc.com/albums/t257/lalaa_LAURENNxx/Pokemon/Moving%20Pokemon/pokemon-8.gif~c200");
  }
  body {
      background-color: PINK;
    }
